* {
  --urlbarView-item-inline-padding: 8px !important;
  --urlbarView-item-block-padding: 12px !important;
}

#urlbar[breakout-extend] {
  top: 28vh !important;
  margin-top: calc(-1 * var(--urlbar-height)) !important;
  #identity-permission-box, #tracking-protection-icon-container, #page-action-buttons {
    display: none !important;
  }

  #identity-icon-box {
    margin-right: 8px !important;
    padding-left: 9px !important;
    padding-right: 3px !important;
  }

  #identity-box {
    margin: 0 !important;
  }

  #urlbar-input {
    font-size: 20px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

.urlbarView-title, .urlbarView-title-separator, .urlbarView-action, urlbarView-url {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.urlbarView-title {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.urlbarView-url, .urlbarView-title-separator::before {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #aaa !important;
}

.urlbarView-favicon {
  margin-left: 0 !important;
  margin-right: 12px !important;
  padding: 6px !important;
  border-radius: 6px !important;
}

.urlbarView-row[has-action]:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) .urlbarView-action {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.urlbarView-row {
  display: none !important;

  &:nth-child(-n+5) {
    display: flex !important;
  }

  &:hover {
    background-color: var(--zen-colors-primary) !important;

    .urlbarView-favicon {
      background-color: white !important;
    }

    .urlbarView-url, .urlbarView-title-separator::before {
      color: color-mix(in srgb, var(--zen-colors-primary) 30%, lightgray) !important;
    }
  }
}
